<h1>Login</h1>
<form_for @user method='post'>
	<input name='username' placeholder='Enter Username'>
	<br>
	<input name="password" placeholder='Enter Password'>
	<br>
	<input type='submit' value='login'/>
</form>